.promptArea {
  .textArea {
    min-height: 96px;
  }

  .perfectButton {
    padding: 0;
  }

  .icon {
    will-change: transform;

    &.iconLoading {
      animation: icon-spin .5s linear infinite;
    }
  }
}

@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}