@import './variable.scss';

.pageWrapper {
  background-color: $main-bg-color;

  .pageContent {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding-top: 200px;

    .formWrapper {
      width: 100%;
    }

    .imageWrapper {
      display: flex;
      justify-content: center;
      min-width: 200px;
      min-height: 200px;

      .image {
        min-height: 200px;
        box-shadow: 0 14px 26px 0 rgba(0,0,87,.2);
      }
    }
  }
}